<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#자동_19p.m." data-toc-modified-id="자동_19p.m.-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>자동_19p.m.</a></span></li><li><span><a href="#평일-5일-링크ID별-평균" data-toc-modified-id="평일-5일-링크ID별-평균-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>평일 5일 링크ID별 평균</a></span></li></ul></div>

In [1]:
import pandas as pd

df = pd.read_csv('20220919_5Min.csv')

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
df.shape

(122631976, 5)

In [3]:
df.head(5)

   20220904  0000  2230357501  46340006    14
0  20220904     0  2070427001  46340006   4.0
1  20220904     0  3810789001  46340006  26.0
2  20220904     0  2240915701  46340006  15.0
3  20220904     0  2240919501  46340006  20.0
4  20220904     0  3340261401  46340006   4.0

In [2]:
df.columns = ['CREAT_DE','CREAT_HM','LINKID','ROAD_INSTT_CODE','PASNG_SPED']

In [ ]:
CREAT_DE(생성_일자), CREAT_HM(생성_시분), LINKID(링크_ID), ROAD_INSTT_CODE(도로_기관_코드),PASNG_SPED(통행_속도)

In [5]:
df.dtypes

CREAT_DE             int64
CREAT_HM             int64
LINKID              object
ROAD_INSTT_CODE      int64
PASNG_SPED         float64
dtype: object

In [9]:
df['CREAT_HM'].value_counts()

2355    625699
2305    625699
2235    625699
2250    625699
2255    625699
         ...
40      625655
45      625655
50      625655
55      625655
0       625654
Name: CREAT_HM, Length: 196, dtype: int64

In [3]:
df['CREAT_HM'].unique()

array([   0,    5,   10,   15,   20,   25,   30,   35,   40,   45,   50,
         55,  100,  105,  115,  125,  135,  145,  150,  155,  200,  205,
        215,  225,  235,  245,  250,  255,  300,  305,  315,  325,  335,
        350,  345,  355,  400,  405,  415,  425,  435,  445,  450,  455,
        500,  510,  505,  515,  520,  525,  530,  535,  540,  545,  550,
        555,  600,  605,  615,  625,  635,  645,  655,  700,  705,  715,
        725,  735,  745,  755,  800,  805,  815,  825,  835,  845,  855,
        900,  905,  915,  925,  935,  945,  955, 1000, 1005, 1015, 1025,
       1035, 1045, 1050, 1055, 1100, 1105, 1115, 1125, 1135, 1145, 1150,
       1155, 1200, 1205, 1215, 1225, 1235, 1245, 1250, 1255, 1300, 1305,
       1315, 1325, 1335, 1345, 1350, 1355, 1400, 1405, 1415, 1425, 1435,
       1450, 1445, 1455, 1500, 1505, 1510, 1515, 1520, 1525, 1530, 1535,
       1540, 1545, 1550, 1555, 1600, 1605, 1615, 1625, 1635, 1645, 1700,
       1655, 1705, 1715, 1725, 1735, 1745, 1755, 1800, 1805, 1815, 1825,
       1835, 1845, 1855, 1900, 1905, 1915, 1925, 1935, 1945, 1955, 2000,
       2005, 2015, 2025, 2035, 2045, 2050, 2100, 2055, 2105, 2115, 2125,
       2135, 2145, 2150, 2155, 2200, 2205, 2215, 2225, 2235, 2245, 2250,
       2255, 2300, 2305, 2315, 2325, 2335, 2345, 2350, 2355], dtype=int64)

In [6]:
df.head(5)

   CREAT_DE  CREAT_HM      LINKID  ROAD_INSTT_CODE  PASNG_SPED
0  20220904         0  2070427001         46340006         4.0
1  20220904         0  3810789001         46340006        26.0
2  20220904         0  2240915701         46340006        15.0
3  20220904         0  2240919501         46340006        20.0
4  20220904         0  3340261401         46340006         4.0

https://zephyrus1111.tistory.com/46
https://yganalyst.github.io/data_handling/memo_9/

## 자동_19p.m.

In [8]:
import pandas as pd

#df = pd.read_csv('C:/Users/User/꾀꼬리/20220919_5Min.csv')
#df = pd.read_csv('C:/Users/User/꾀꼬리/20220920_5Min.csv')
#df = pd.read_csv('C:/Users/User/꾀꼬리/20220921_5Min.csv')
#df = pd.read_csv('C:/Users/User/꾀꼬리/20220922_5Min.csv')
df = pd.read_csv('C:/Users/User/꾀꼬리/20220923_5Min.csv')

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
df.columns = ['CREAT_DE','CREAT_HM','LINKID','ROAD_INSTT_CODE','PASNG_SPED']

work = [1900] # 시간대별 가능

for i in work:
    df0 = df[df['CREAT_HM'] == i]
    df0['newone'] = df0['LINKID'].astype(str).str[:3]
    df0_1 = df0[df0['newone'] == '243']
    df0_2 = df0[df0['newone'] == '244']
    df0_3 = df0[df0['newone'] == '245']

    df0sum = pd.concat([df0_1,df0_2,df0_3])

    df0sum = df0sum.reset_index(drop=True)
    df0sum
    
    df0sum.to_csv('20220923T{}'.format(i)+'sum.csv')

<ipython-input-9-abf6df19b517>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['newone'] = df0['LINKID'].astype(str).str[:3]

In [10]:
df1 = pd.read_csv('C:/Users/User/20220919T1900sum.csv')
df2 = pd.read_csv('C:/Users/User/20220920T1900sum.csv')
df3 = pd.read_csv('C:/Users/User/20220921T1900sum.csv')
df4 = pd.read_csv('C:/Users/User/20220922T1900sum.csv')
df5 = pd.read_csv('C:/Users/User/20220923T1900sum.csv')

In [11]:
df1.head(5)

,Unnamed: 0,CREAT_DE,CREAT_HM,LINKID,ROAD_INSTT_CODE,PASNG_SPED,newone
0,0,20220919,1900,2.430087e+09,46340006,22.0,243
1,1,20220919,1900,2.430287e+09,46340006,33.0,243
2,2,20220919,1900,2.430291e+09,46340006,41.0,243
3,3,20220919,1900,2.430291e+09,46340006,23.0,243
4,4,20220919,1900,2.430287e+09,46340006,20.0,243

In [12]:
total_df = pd.concat([df1,df2,df3,df4,df5])
total_df.shape

(33438, 7)

## 평일 5일 링크ID별 평균

In [13]:
total_df.groupby("LINKID")['PASNG_SPED'].mean()

LINKID
2.430000e+09    18.8
2.430000e+09    25.3
2.430000e+09     4.0
2.430000e+09    18.9
2.430000e+09    27.6
                ...
2.450133e+09    27.0
2.450133e+09    26.6
2.450133e+09     9.4
2.450133e+09    59.4
2.450134e+09    49.7
Name: PASNG_SPED, Length: 6688, dtype: float64

In [15]:
total_df2 = total_df.groupby('LINKID').agg({'PASNG_SPED':"mean"})
total_df2

total_df2.to_excel('평일 오후7시 속도 평균.xlsx')